#nav{
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}
ul#nav li {
    display:inline;
}
ul#footer li {
    display:inline;
}
/* #Media Queries   from foundation.zurb.com
================================================== */

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */





////////////////////////////////////////////////////////////////////////////

/* #Media Queries   from getskeleton.com
================================================== */

/* Smaller than desktop 1200 (devices and browsers) */

@media (min-width: 960px) and (max-width: 1199px) {}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}


/////////////////////////////////////////////////////////////////////////

/* #Media Queries   from getbootstrap.com
================================================== */

/* Retina ready */
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  

 }

/*  xs */
@media (max-width: 767px) { 
  
  }

  
/* sm */
@media (min-width: 768px) and (max-width: 991px) { 
  
  }
 
/* md */
@media (min-width: 992px) and (max-width: 1199px) { 
  
  }


////////////////////////////////////////////////////////////////////////////////

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) { 
  
  }
  
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
  
  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
  
  }
  
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
  }